#name{
    color: blueviolet;
    width: 50px;
}

.nameClass{
    color: red;
    width: 150px;
}

#nameClass1{
    color: grey;
}

h1{
    color: brown;
}

h1 .num1class{
    color: black;
}

h1 #num1{
    color: pink;
}


p.a {
    font-family: "Times New Roman", Times, serif;
  }
  
p.b {
    font-family: Arial, Helvetica, sans-serif;
  }
  